menu "Telephony options"
	depends on MV_INCLUDE_TDM

config  MV_PHONE
	bool "Support for Marvell telephony(VoIP)"
	depends on MV_INCLUDE_TDM && PHONE
	default y
	---help---
	  Choosing this option enables the Marvell telephony underlying
	  support for various VoIP applications.
	  Note, kernel Telephony subsystem must be chosen too.

choice
	prompt "TDM Unit"
	depends on MV_PHONE
	default MV_TDM_SUPPORT_ORION

config MV_TDM_SUPPORT_ORION
	bool "Support legacy TDM(2 channels)"
	select MV_TDM_SUPPORT

config MV_COMM_UNIT_SUPPORT_ORION
	depends on ARCH_FEROCEON_KW2
	bool "Support CommUnit(up to 32 channels)"
	select MV_COMM_UNIT_SUPPORT

endchoice

config MV_TDM_SUPPORT
	depends on MV_TDM_SUPPORT_ORION
	bool

config MV_COMM_UNIT_SUPPORT
	depends on MV_COMM_UNIT_SUPPORT_ORION
	bool

choice
	prompt "SLIC Vendor"
	depends on MV_PHONE
	default ZARLINK_SLIC_SUPPORT_ORION

config SILABS_SLIC_SUPPORT_ORION
	bool "Support Silicon Labs devices"
	select SILABS_SLIC_SUPPORT

config ZARLINK_SLIC_SUPPORT_ORION
	bool "Support Zarlink/Legirity devices"
	select ZARLINK_SLIC_SUPPORT

endchoice

config SILABS_SLIC_SUPPORT
	depends on SILABS_SLIC_SUPPORT_ORION
	bool

config ZARLINK_SLIC_SUPPORT
	depends on ZARLINK_SLIC_SUPPORT_ORION
	bool

choice
	prompt "SLIC Device"
	depends on MV_PHONE && SILABS_SLIC_SUPPORT

config SILAB_SLIC_SI3226x
	bool "Support Silicon Labs 3226x device"

config SILAB_SLIC_SI3217x
	bool "Support Silicon Labs 3217x device"

endchoice

choice
	prompt "SLIC Device"
	depends on MV_PHONE && ZARLINK_SLIC_SUPPORT
	default ZARLINK_SLIC_VE880_ORION

config ZARLINK_SLIC_VE880_ORION
	bool "Support Zarlink VE880 SLIC family"
	select ZARLINK_SLIC_VE880

config ZARLINK_SLIC_VE792_ORION
	bool "Support Zarlink VE792 SLIC family"
	select ZARLINK_SLIC_VE792

endchoice

config ZARLINK_SLIC_VE880
	depends on ZARLINK_SLIC_VE880_ORION
	bool

config ZARLINK_SLIC_VE792
	depends on ZARLINK_SLIC_VE792_ORION
	bool

choice
	prompt "PCM Clock Frequency"
	depends on MV_PHONE
	default MV_TDM_PCM_CLK_8MHZ_ORION
	---help---
	This menu selects the PCM clock frequency generated by the TDM master.
	SLIC should be configured accordingly in order to maintain bus coherency.

config MV_TDM_PCM_CLK_8MHZ_ORION
	bool "Support 8MHz PCM clock"
	select MV_TDM_PCM_CLK_8MHZ

config MV_TDM_PCM_CLK_4MHZ_ORION
	bool "Support 4MHz PCM clock"
	select MV_TDM_PCM_CLK_4MHZ

config MV_TDM_PCM_CLK_2MHZ_ORION
	bool "Support 2MHz PCM clock"
	select MV_TDM_PCM_CLK_2MHZ

endchoice

config MV_TDM_PCM_CLK_8MHZ
	depends on MV_TDM_PCM_CLK_8MHZ_ORION
	bool

config MV_TDM_PCM_CLK_4MHZ
	depends on MV_TDM_PCM_CLK_4MHZ_ORION
	bool

config MV_TDM_PCM_CLK_2MHZ
	depends on MV_TDM_PCM_CLK_2MHZ_ORION
	bool

#choice
#	prompt "TDM Clock Source"
#	depends on MV_PHONE
#	default MV_TDM_USE_INTERNAL_PCLK_SOURCE

#config MV_TDM_USE_INTERNAL_PCLK_SOURCE
#	bool "Support PCLK internally generated"

#config MV_TDM_USE_EXTERNAL_PCLK_SOURCE
#	bool "Support PCLK from external source"

#config MV_TDM_USE_DCO
#	bool "Support PCLK from DCO enabled PLL"

#endchoice

choice
	prompt "TDM voice processing"
	depends on MV_PHONE
	default MV_TDM_DUMMY_ORION

config MV_TDM_DUMMY_ORION
	bool "Support TDM voice processing in softIRQ"
	select MV_TDM_DUMMY

config MV_PHONE_USE_IRQ_PROCESSING_ORION
	bool "Support TDM voice processing in IRQ"
	select MV_PHONE_USE_IRQ_PROCESSING

config MV_PHONE_USE_FIQ_PROCESSING_ORION
	depends on ARCH_FEROCEON_KW2
	bool "Support TDM voice processing in FIQ"
	select MV_PHONE_USE_FIQ_PROCESSING

endchoice

config MV_TDM_DUMMY
	depends on MV_TDM_DUMMY_ORION
	bool

config MV_PHONE_USE_IRQ_PROCESSING
	depends on MV_PHONE_USE_IRQ_PROCESSING_ORION
	bool

config MV_PHONE_USE_FIQ_PROCESSING
	depends on MV_PHONE_USE_FIQ_PROCESSING_ORION
	bool

config MV_PHONE_USE_SLIC_LIBS
	bool "Use binary SLIC drivers"
	depends on MV_PHONE
	default y
	---help---
	Unselect this option only if you have source code of SLIC drivers.
	If unsure, say "y"

endmenu
